/* Sidebar personalizado */
.w-16 .sidebar-text,
.w-16 .down-text,
.w-16 .sidebar-user-icon,
.w-16 .sidebar-user-info {
    display: none;
}

.w-64 .sidebar-logo-mini {
    display: none;
}

.rotate-180 {
    transform: rotate(180deg);
}

.w-16 .bg-white\/10 {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    justify-content: center !important;
}

.w-16 .fa-user-circle {
    font-size: 1.25rem !important;
}
